@model Post
@using Blog.Entities
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(","," ")} {Model.Category}";

}

@if (!String.IsNullOrEmpty(Model.Image))
{
    var imagePath = $"{Model.Image}".Remove(0, 7);
    <img src="@imagePath" width="300" />
}


<h2>@Model.Title</h2>

<div>
    @Html.Raw(Model.Body)
</div>
