<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Index</a>
        <a asp-controller="Home" asp-action="Edit">Create Post</a>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
